body{
    background-color: aqua;
    align-items: center;
    justify-content: center;
    display: flex;
}

.clock{
    border-radius: 25px;
    background-color: rgb(104, 71, 49);
    justify-content: center;
    align-items: center;
    min-width: 600px;
    height: 350px;
    display: flex;
    transition: fade ;
}
.clock:hover{
    grid-template-columns: max-content;
    background: aliceblue;
}
.display{
    background-color: rgb(0, 0, 0);
    border-radius: 12px;
    border-width: 10px;
    display: inline-flex;
    margin: 50%;
    min-width: 280px;
    min-height: 100px;
}
.number{
    border-radius: 15px;
    margin: 5px;
    background-color: rgb(113, 113, 114);
    color: #000;
    font-size: 100px;
    
}
